.primary-navbar{
    /* background-color: #0c4b33; */
    background-color: #074280;
}
.primary-navbar .navbar-toggler{
    color:#FAFAFA!important;
}
.primary-navbar .nav-link{
    color: white!important;
    font-size: 16px;
    padding-left:6px!important;
    padding-right:6px!important;
    text-decoration: none;
}

.primary-navbar .navbar-brand{
    color:#FAFAFA!important;
    font-size:20px;
}

.navbar-nav .dropdown-menu a:hover{
    background-color: #FFAB1F;
    color:#FAFAFA;
}

.dropdown-menu{
    /* background-color:#0c4b33!important; */
    background-color: #0f4676;
    padding-top:0px;
    padding-bottom:0px;
    padding:0px !important;
    border-radius: 0px;
    min-width:250px;
}
.dropdown-menu a.nav-link{
    color:#FAFAFA!important;
    padding:8px 8px;
    border-bottom:1px solid #FAFAFA;
}

.dropdown-menu a > a {
    border:none
}

.secondary-navbar{
    /* background-color: #286d52; */
    border-bottom: 1px solid #074280!important;
    /* margin-bottom:30px; */
    background-color: #e1e5e6bd;
}
.secondary-navbar .navbar-toggler{
    color:#f0ebeb!important;
}
.secondary-navbar .nav-link{
    color:  #074280;
    font-size: 16px;
    padding-left:10px!important;
    padding-right:10px!important;
    text-decoration: none;
    font-weight: 500;
}


.secondary-navbar .dropdown{
    margin:0; 
}
.secondary-navbar a.dropdown-item{
    padding:10px 5px;
    min-width: 250px;
}
.secondary-navbar a.dropdown-item {
    text-decoration: none;
    padding:10px;
    color:#ece7e7;
}
.btn-signin{
    width:100%;
    background-color:#024796!important;
    border-color:#024796!important;
    color:#FAFAFA!important;
} 

form input[type="radio"], form input[type="checkbox"]{
    width:20px;
}
    

.form-signin a {
    text-decoration: none;
    color: '#024796'
}

/* .form-signin input, .form-signin select{
    border:1px solid skyblue;
} */

.sub-footer h6{
    color:orange;
    font-weight:bold;
    font-size:18px;
    text-decoration: underline;
    padding-bottom:10px;
}

.important-links > li, .quick-links > li{
    list-style-type: none;
}

.important-links > li > a, .quick-links > li > a{
    color:#FAFAFA;
    text-decoration: none;
}
.section-heading{
    font-weight: bold;
    margin-bottom: 15px;
}

.registration-card{
    border-style: none!important;
    box-shadow: none;
}
.registration-card .card-header{
    background-color: inherit;
    border-bottom: none;
    text-align: center;
    color:rgba(233, 9, 9)
}
.Toastify__toast-container{
    width:500px;
}
@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm {
      min-width: 1400px;
    }
}

.feeds-container{
    height:500px;
    overflow-y:scroll
}
.comments-container{
    height:500px;
    overflow-y: scroll;
}
.css-bhp9pd-MuiPaper-root-MuiCard-root {
    background:#F8F9F9!important;
    margin:10px!important;
    box-shadow: none;
    border:1px solid #F2F3F4;
}

.css-et1ao3-MuiTypography-root{
    font-weight:bold!important;
    font-size:16px!important;
}

.registration-alert{
    font-size: 18px!important;
    font-weight:bold!important;
}
legend > span {
    font-weight:400!important
}

.profile .card{
    border:none;
    border-radius:0px;
    box-shadow: none;
}

.badge {
    border-radius: 0;
    font-size: 16px;
    line-height: 1;
    padding: .375rem .5625rem;
    font-weight: bold
}

.badge-outline-primary {
   background-color: #405189;
   border: 1px solid #405189;
   color:#FAFAFA;
}



.img-captcha{
    height:40px;
    width:100%;
    border: 1px solid grey;
}
.btn-captcha{
    height:40px;
    border-radius:0px;
}